body { /*this centers the P, h1 and h2 because it is the paret. you have to allow the parent to center in order to center the children*/
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

main {
    border-width: 5px;
    border-radius: 8px;
    border-style: solid;
    border-color: #9C90C3;
    background-color: white;
    padding: 20px;
}

p {
    color: #c3bde7;
    font-weight: bold;
    text-align: center;
    width:550px;
    padding:0;
    margin:20px auto;
    font-size: 25px;
}

.About{
    font-size: 50px;
    font-family: cursive;
    color: rgb(100, 10, 130);
}

.UnfoldH1T{
    font-size: 35px;
    width:fit-content;
    font-family: cursive;
    /*text-decoration: underline rgb(100, 10, 130);*/
}

h2 {
    color: rgb(100, 10, 130);
    font-weight: bolder;
    text-align: center;
    width:300px;
    margin:20px auto;
    font-size:30px;
}
h3 {
    color:rgb(100, 10, 130);
    font-weight: bolder  ;
    text-align: center;
    width:300px;
    margin:20px auto;
    font-size:30px;
}

.RightCol {
    display:flex;
    flex-direction: column;
    align-items:right;
    justify-content: right;
    border-width: 5px;
    border-radius: 8px;
    border-style: solid;
    border-color: #9C90C3;
    background-color: white;
}

